server {
    listen 80;
    server_name {{ server_name }};

    # Serve the Hello World static content
    root /var/www/hello;
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}
